.contact-content {
    height: 100vh;
    background-color: rgb(246, 246, 250, 0.5);
    display: block;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

.contact-content::after {
    background-image: url(../img/img1.svg);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.14;
    border-radius: 12px;
    z-index: -1;
}